.green {
    background-color: green;
}

.white {
    background-color: whitesmoke;
}

.data {
    width: 2em;
    height: 2em;
    padding: 5px 5px 5px 5px;
    border-radius: 1px;
    margin: 5px 1% 5px 1%;
    text-align: center;
}

.row_dupl {
    color: red;
}

.col_dupl {
    color: blue;
}

.grid_dupl {
    color: gold;
}